<?xml version="1.0" encoding="utf-8" ?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<api>
			<GraphQL>
				<endpoints>
					<serialization>
						<schema>
							<job type="SitecoreWarriors.DevEx.GraphQL.Jobs.JobSchemaProvider, SitecoreWarriors.DevEx.GraphQL.Jobs" resolve="true" />
						</schema>
					</serialization>
				</endpoints>
			</GraphQL>
		</api>
		<services>
			<configurator type="SitecoreWarriors.DevEx.GraphQL.Jobs.DependencyConfigurator, SitecoreWarriors.DevEx.GraphQL.Jobs" />
		</services>
	</sitecore>
</configuration>
